.layout {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0deg, #ff5e56, #ff5e56),
    linear-gradient(255.35deg, #dc3131 0.83%, rgba(255, 79, 79, 0) 108.93%);
  box-shadow: 0px -0.11px 16.95px 0px #b7bbe154;
}
